<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/" />
    <add key="ida:Tenant" value="darkbonddevelopment.onmicrosoft.com" />
    <add key="ida:ClientId" value="381ae805-9ca3-49d8-87a3-e2c4e6fe9729" />
  </appSettings>
</configuration>
