<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DarkBond.TradingPost.Data.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
    <applicationSettings>
        <DarkBond.TradingPost.Data.Properties.Settings>
            <setting name="LocationInput" serializeAs="String">
                <value>DarkBond.TradingPost.Data.Files.Location.txt</value>
            </setting>
            <setting name="StreetInput" serializeAs="String">
                <value>DarkBond.TradingPost.Data.Files.Street.txt</value>
            </setting>
            <setting name="ConsumerDebtInput" serializeAs="String">
                <value>DarkBond.TradingPost.Data.Files.Consumer Debt.txt</value>
            </setting>
            <setting name="UserInput" serializeAs="String">
                <value>DarkBond.TradingPost.Data.Files.User.txt</value>
            </setting>
            <setting name="NickNameInput" serializeAs="String">
                <value>DarkBond.TradingPost.Data.Files.NickNames.txt</value>
            </setting>
            <setting name="OrganizationInput" serializeAs="String">
                <value>DarkBond.TradingPost.Data.Files.Organization.txt</value>
            </setting>
            <setting name="Address2Input" serializeAs="String">
                <value>DarkBond.TradingPost.Data.Files.Address2.txt</value>
            </setting>
            <setting name="MaleSalutationInput" serializeAs="String">
                <value>DarkBond.TradingPost.Data.Files.MaleSalutations.txt</value>
            </setting>
            <setting name="ConsumerInput" serializeAs="String">
                <value>DarkBond.TradingPost.Data.Files.Consumer.txt</value>
            </setting>
            <setting name="MaleNamesInput" serializeAs="String">
                <value>DarkBond.TradingPost.Data.Files.MaleNames.txt</value>
            </setting>
            <setting name="FemaleNamesInput" serializeAs="String">
                <value>DarkBond.TradingPost.Data.Files.FemaleNames.txt</value>
            </setting>
            <setting name="MaleSuffixInput" serializeAs="String">
                <value>DarkBond.TradingPost.Data.Files.MaleSuffix.txt</value>
            </setting>
            <setting name="LastNameInput" serializeAs="String">
                <value>DarkBond.TradingPost.Data.Files.LastNames.txt</value>
            </setting>
            <setting name="PhoneNumberInput" serializeAs="String">
                <value>DarkBond.TradingPost.Data.Files.PhoneNumbers.txt</value>
            </setting>
            <setting name="FemaleSalutationInput" serializeAs="String">
                <value>DarkBond.TradingPost.Data.Files.FemaleSalutations.txt</value>
            </setting>
            <setting name="CreditCardIssuerInput" serializeAs="String">
                <value>DarkBond.TradingPost.Data.Files.Credit Card Issuer.txt</value>
            </setting>
            <setting name="DataOutputLocation" serializeAs="String">
                <value>Generated Data\</value>
            </setting>
            <setting name="ConsumerDebtOutput" serializeAs="String">
                <value>Consumer Debt.xml</value>
            </setting>
            <setting name="ConsumerOutput" serializeAs="String">
                <value>Consumer.xml</value>
            </setting>
            <setting name="ConsumerTrustOutput" serializeAs="String">
                <value>Consumer Trust.xml</value>
            </setting>
            <setting name="UserOutput" serializeAs="String">
                <value>User.xml</value>
            </setting>
            <setting name="CreditCardOutput" serializeAs="String">
                <value>Credit Card.xml</value>
            </setting>
            <setting name="OrganizationOutput" serializeAs="String">
                <value>Organization.xml</value>
            </setting>
            <setting name="DumpDataSetToXml" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DumpDataSetToBinary" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CsvMatchDumpFile" serializeAs="String">
                <value>GeneratedTestData_MatchDump.csv</value>
            </setting>
            <setting name="SplitUpOrganizationWorkingOrders" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NumberOfWorkingOrderFilesPerOrganization" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="NumberOfImportFilesPerOrganization" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PercentageOfConsumerRecordsWithDateOfBirth" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="PercentageOfCreditCardRecordsWithIssuerData" serializeAs="String">
                <value>0.85</value>
            </setting>
            <setting name="PercentageOfConsumerRecordsWithFirstNames" serializeAs="String">
                <value>0.9</value>
            </setting>
            <setting name="PercentageOfConsumerRecordsWithLastNames" serializeAs="String">
                <value>0.95</value>
            </setting>
            <setting name="PercentageOfConsumerRecordsWithPhoneNumber" serializeAs="String">
                <value>0.7</value>
            </setting>
            <setting name="PercentageOfConsumerRecordsWithMiddleNames" serializeAs="String">
                <value>0.65</value>
            </setting>
            <setting name="PercentageOfConsumerRecordsWithSuffixes" serializeAs="String">
                <value>0.8</value>
            </setting>
            <setting name="PercentageOfConsumerRecordsWithAddress1" serializeAs="String">
                <value>0.85</value>
            </setting>
            <setting name="PercentageOfConsumerRecordsWithAddress2" serializeAs="String">
                <value>0.18</value>
            </setting>
            <setting name="PercentageOfConsumerRecordsWithBankAccountData"
                serializeAs="String">
                <value>0.33</value>
            </setting>
            <setting name="PercentageOfConsumerRecordsWithCity" serializeAs="String">
                <value>0.95</value>
            </setting>
            <setting name="PercentageOfConsumersWithKnownEmployeeStatus"
                serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="PercentageOfConsumerRecordsWithSalutations" serializeAs="String">
                <value>0.9</value>
            </setting>
            <setting name="PercentageOfConsumerRecordsWithPostalCode" serializeAs="String">
                <value>0.75</value>
            </setting>
            <setting name="PercentageOfConsumerRecordsWithProvinceCode" serializeAs="String">
                <value>0.9</value>
            </setting>
            <setting name="PercentageOfUnemployment" serializeAs="String">
                <value>0.09</value>
            </setting>
            <setting name="UseTimeBasedRandomSeed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NumberOfCreditCardsPerConsumer" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="RandomCreditCardsPerConsumerMax" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="OneConsumerCreditCardPerDebtHolderOrganization"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DebtSideFuzzCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CommonFuzzCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DebtSideFuzzNicknamePercentage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DebtHolderAccountNumberStartValue" serializeAs="String">
                <value>152515115</value>
            </setting>
            <setting name="NumberOfConsumerRecords" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="NumberOfTrustRecords" serializeAs="String">
                <value>620</value>
            </setting>
            <setting name="NumberOfDebtRecords" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="NumberOfMatches" serializeAs="String">
                <value>251</value>
            </setting>
            <setting name="TrustSideFuzzCount" serializeAs="String">
                <value>101</value>
            </setting>
            <setting name="TrustSideFuzzNicknamePercentage" serializeAs="String">
                <value>4</value>
            </setting>
        </DarkBond.TradingPost.Data.Properties.Settings>
    </applicationSettings>
</configuration>
