<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings"
									type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="DarkBond.LicenseManager.ServiceLibrary.Properties.Settings"
							 requirePermission="false"
							 type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		</sectionGroup>
	</configSections>
	<applicationSettings>
    <DarkBond.LicenseManager.ServiceLibrary.Properties.Settings>
      <setting name="Domain"
							 serializeAs="String">
        <value></value>
      </setting>
      <setting name="Audience"
							 serializeAs="String">
				<value/>
			</setting>
			<setting name="TenantId"
							 serializeAs="String">
				<value/>
			</setting>
			<setting name="SignInPolicy"
							 serializeAs="String">
				<value/>
			</setting>
			<setting name="DirectoryManagerAppPrincipalId"
							 serializeAs="String">
				<value/>
			</setting>
			<setting name="DirectoryManagerSecret"
							 serializeAs="String">
				<value/>
			</setting>
			<setting name="Thumbprint"
							 serializeAs="String">
				<value/>
			</setting>
			<setting name="InstrumentationKey"
							 serializeAs="String">
				<value/>
			</setting>
			<setting name="SqlConnectionString"
							 serializeAs="String">
				<value/>
			</setting>
		</DarkBond.LicenseManager.ServiceLibrary.Properties.Settings>
	</applicationSettings>
	<startup>
		<supportedRuntime sku=".NETFramework,Version=v4.5.1"
											version="v4.0"/>
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity culture="neutral"
													name="System.IdentityModel.Tokens.Jwt"
													publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect newVersion="5.1.2.0"
												 oldVersion="0.0.0.0-5.1.2.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity culture="neutral"
													name="Newtonsoft.Json"
													publicKeyToken="30ad4fe6b2a6aeed"/>
				<bindingRedirect newVersion="9.0.0.0"
												 oldVersion="0.0.0.0-9.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>