<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IgnoreGeneratedFilesBuildTask" version="1.5.0" targetFramework="win81" />
  <package id="Microsoft.Composition" version="1.0.30" targetFramework="win81" />
  <package id="Microsoft.Identity.Client" version="1.0.304142221-alpha" targetFramework="win81" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.13.9" targetFramework="win81" />
  <package id="StyleCop.Analyzers" version="1.0.2" targetFramework="win81" developmentDependency="true" />
</packages>