<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DarkBond.Views.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="DarkBond.View.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <DarkBond.Views.Properties.Settings>
            <setting name="IsDetailVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsHierarchyChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsHierarchyVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SearchWidth" serializeAs="String">
                <value>244</value>
            </setting>
            <setting name="ShellHeight" serializeAs="String">
                <value>750</value>
            </setting>
            <setting name="ShellLeft" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ShellStartupLocation" serializeAs="String">
                <value>Manual</value>
            </setting>
            <setting name="ShellTop" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ShellWidth" serializeAs="String">
                <value>1200</value>
            </setting>
            <setting name="ShellWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
        </DarkBond.Views.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ControlzEx" publicKeyToken="f08b075e934b7045" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.4" newVersion="2.2.0.4"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
